body{
    background-color: blue;
}
h2{
    color: pink;
    font-size: 25px;
}
nav{
    display: inline;
    
    padding: 0.3px;
}
ul,li,a{
    text-decoration: none;
    list-style: none;
    color: pink;
    font-size: 15px;
    display: inline-block;
    margin: 5.5px;
    padding: 0.1px;
}
.box{
    width: 100%;
    height: 60px;
    border-radius: 30px;
    background-color: pink;
    margin: 20px;
}
img{
    width: 1330px;
    height: 400px;
    border-radius: 20px;
    padding: 0.5px;
}
p{
    color: snow;
}
marquee{
    color: black;
    font-size: 18px
}
select{
    background-color: blue;
    color: pink;
    border-color: blue;
}